layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="33%" name="files" {
            command "env"
            args "YAZI_CONFIG_HOME=${PWD}/configs/ide" "${FILE_MANAGER}"
        }
        pane size="67%" name="agent" {
            command "${AGENT}"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
